.profile__edit-button {
  min-height: 18px;
  width: 18px;
  max-width: 24px;
  background-image: url("../../../images/edit-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 32px;
  right: -28px;
}

@media (min-width: 320px) {
  .profile__edit-button {
    min-height: calc(100vw*0.006 + 16px);
    width: calc(100vw*0.006 + 16px);
  }
}

@media (min-width: 830px) {
  .profile__edit-button {
    top: 15px;
    right: -36px;
  }
}

@media (min-width: 1280px) {
  .profile__edit-button {
    min-height: 24px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity 0.5s linear 0s;
}
