.popup__text-field {
  margin: 0;
  margin-top: 75px;
}

.popup__text-field:last-of-type {
  margin-top: 30px;
}

@media (min-width: 320px) {
  .popup__text-field {
    margin-top: calc(-100vw*0.02 + 82px);
  }
}

@media (min-width: 1280px) {
  .popup__text-field {
    margin-top: 54px;
  }
}
