.popup__input-text-box {
  width: 100%;
  min-height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 17px;
}
